<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>About</key>
		<dict>
			<key>text</key>
			<string>如家酒店是如家酒店集团旗下3大品牌之一，是温馨舒适的商旅型连锁酒店品牌，通过标准化、简洁、舒适、便捷的酒店住宿服务，使大众商务以及休闲旅行宾客收获温馨、便捷的住宿体验。</string>
			<key>image</key>
			<string>about_hotel_img.png</string>
			<key>title</key>
			<string>关于如家</string>
		</dict>
		<key>Gallery</key>
		<dict>
			<key>imagesAndTitlesItems</key>
			<array>
				<string>墙壁</string>
				<string>img1.png</string>
				<string>img2.png</string>
				<string>img3.png</string>
				<string>img4.png</string>
				<string>img5.png</string>
				<string>大床房</string>
				<string>img6.png</string>
				<string>img7.png</string>
				<string>img8.png</string>
				<string>img6.png</string>
				<string>img6.png</string>
				<string>img1.png</string>
				<string>img2.png</string>
				<string>标准间</string>
				<string>img1.png</string>
				<string>img2.png</string>
				<string>img3.png</string>
				<string>img4.png</string>
				<string>img5.png</string>
			</array>
			<key>videosItems</key>
			<array>
				<string>rujia.mp4</string>
			</array>
		</dict>
		<key>Reservation</key>
		<dict>
			<key>roomCategories</key>
			<array>
				<dict>
					<key>categoryPrice</key>
					<string>400</string>
					<key>categoryName</key>
					<string>家庭房</string>
				</dict>
				<dict>
					<key>categoryPrice</key>
					<string>300</string>
					<key>categoryName</key>
					<string>双人房</string>
				</dict>
				<dict>
					<key>categoryPrice</key>
					<string>200</string>
					<key>categoryName</key>
					<string>大床房</string>
				</dict>
				<dict>
					<key>categoryPrice</key>
					<string>100</string>
					<key>categoryName</key>
					<string>标准间</string>
				</dict>
			</array>
		</dict>
		<key>Contacts</key>
		<dict>
			<key>contactsInfo</key>
			<dict>
				<key>email</key>
				<string>rujia@rujiahotel.com</string>
				<key>telephone</key>
				<string>01234567</string>
				<key>message</key>
				<string>如果有什么建议请联系我们</string>
				<key>title</key>
				<string>如家</string>
				<key>address</key>
				<string>5月10号</string>
				<key>postOffice</key>
				<string>xx街xx路</string>
				<key>webPage</key>
				<string>www.rujia.com</string>
			</dict>
			<key>locationItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>如家</string>
					<key>latitude</key>
					<real>11.411111</real>
					<key>longitude</key>
					<real>9.911111</real>
					<key>address</key>
					<string>xx街xx路</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
